.dropdown__category {
  position: relative;
  width: 200px;
}

.dropdown-header {
  background-color: var(--color-tertiary-opaque);
  border-radius: .8rem;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-list-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 13px 20px -1px rgba(0,0,0,0.49);
  padding: .5rem;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none; 
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  border-radius: .8rem;
  transition: background-color 0.2s;
}

.dropdown-list li:hover {
  background-color: #f7f7f7;
}

.dropdown-list li.selected {
  background-color: #e9e9e9;
}
