/* Add these styles to your CSS file */
:root {
    --icon-margin: 288px; /* Adjust the margin based on the font size of the icons */
}
.services-container {
    display: flex;

    background-color: #D9D9D9;

    /* Add other styles as needed */
}
/* Add these styles to your CSS file */

.services-container .top-icons{
    margin-left: var(--icon-margin);
}

service-content{
    margin-top: 30px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}


.top-icons,
.bottom-icons {
    display: flex;
    font-size: 74px;

}

.service-item {
    display: flex;
    align-items: center;
}

/* Background color and size for the first icon in both top-icons and bottom-icons */
.top-icons .service-item:first-child .icon-container,
.bottom-icons .service-item:first-child .icon-container,
.bottom-icons .service-item:nth-child(3) .icon-container {
    background-color: #8B8B8B; /* Your desired background color for the first icon */

    padding: calc((182px - 74px) / 2) calc((var(--icon-margin) - 74px) / 2); /* Adjust padding */
}

/* Background color and size for the second icon in both top-icons and bottom-icons */
.top-icons .service-item:nth-child(2) .icon-container,
.bottom-icons .service-item:nth-child(2) .icon-container {
    background-color: #C4C4C4; /* Your desired background color for the second icon */

    padding: calc((182px - 74px) / 2) calc((var(--icon-margin) - 74px) / 2); /* Adjust padding */
}


.svg-container img {
    width: 200px; /* Make the SVG fill its container */
    height: auto; /* Maintain the aspect ratio */

}

.service-svg {
    flex: 2; /* Adjust the flex value as needed */
}

.service-description {

    justify-content: center;
    padding-left: 100px;

}
.service-description .second-header{
    font-size: 28px;
}
.service-description p{
    font-size: 20px;
    margin-bottom: 25px;
}
.service-description h1{

    font-size: 48px;
}


.service-item {
    display: flex;
    align-items: center;
}


.svg-container svg {
    width: 100%; /* Make the SVG fill its container */
    height: auto; /* Maintain the aspect ratio */
}
