/* .my-bar-chart .recharts-cartesian-axis-tick-value {
    fill: #666;

}


.recharts-bar-rectangle {
    stroke: none;
    width: 1px;
}

.recharts-bar-background-rectangle {
    fill: #f5f5f5;
}

.recharts-tooltip {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
} */