.job-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    margin-right: 20px;
    color: #707991;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px 45px;
    border-radius: 22px;
    position: relative;
    background-color: #F5F5F5;
}

.search-input::placeholder {
    color: #707991;
}

.search-icon {
    font-size: 28px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 10px;
    color: #707991;
}

.dropdown {
    position: absolute;
    top: calc(12% + 5px);
    right: 40%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 5px 0;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.menu-icon:hover + .dropdown {
    display: block;
}
