.job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    margin-top: 100px;
    width: 100%;
}

.center-content {

    padding: 0 20px; /* Add horizontal padding */
}

.personal-request {

    width: 591px;
    margin: 1rem;
    background-color: white;
    display: flex;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #576E6A;
}

/* Add styles for the parent container */
.track-job ul {
  display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0; /* Remove default padding */
}

.track-job{
    background-color: #D9D9D9;

}


.personal-request .two-buttons {
    display: flex;
    align-items: center; /* Align items vertically */
}

  
  .tabs {
    display: flex;
    gap: 10px;
    margin: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .tabs button.active {
    background-color: #ddd;
    font-weight: bold;
  }
  
  .tabs button:hover:not(.active) {
    background-color: #ccc;
  }

  .serviceRequest-status{
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .ACCEPTED {
    border-color: green;
    color:green ;
  }
  
  .PENDING {
    border-color: gray;
    color: gray;
  }
  
  .REJECTED {
    border-color: red;
    color: red;
  }


