.sign__container {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 5rem;
    margin: 0 auto;
}

.signin-form {
    flex: 1;
    padding: 20px;


}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-flex label {
    margin-bottom: 8px;
    width: fit-content;
}

.form-flex input {
    border: 1px solid #5E8D83;
    padding: 5px;
    margin-bottom: 29px;
    width: 35rem;
}

.form-flex button {
    background-color: #5E8D83;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin: o auto;
    width: 9rem;

}

.form-flex button:hover {
    background-color: #5E8D83;
}

.form-flex a {
    text-decoration: none;
    color: #5E8D83;
    margin-left: 16rem;

}

.form-flex a:hover {
    text-decoration: underline;
}

.solid-color {
    flex: 1;
    background-image: url("../../assets/plumber.jpeg");
    height: 100%;
}