.header {
    background-color: white;
    color: #000000;
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

.header__img {
    
    height: 5rem;
    object-fit: contain;
}

.header__btn {
    background-color: var(--color-secondary);
    color: white;
    padding: 0.25rem 2rem;
    border: none;
    width: 173px;
    height: 48px;
    font-size: 20px;
    border-radius: 2px;
}

.header__btn:hover {
    background-color: var(--color-secondary-opaque);
}

.header__active {
    border-bottom: 1px solid var(--color-accent);
}

.header__notactive {
    border-bottom: none;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
}

.header__navbar {
    display: flex;
    gap: 4rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
    color: var(--color-secondary);
}

.navbar__logo {
    font-size: xx-large;
}