.BrowseProfessionals h2 {
  margin-left: 50px;
}

.profile-container {
  display: grid;
  grid-template-columns: 30rem 30rem;
  cursor: pointer;
  justify-content: center;

}


.profile-card {
  background: linear-gradient(var(--color-secondary), var(--color-primary-opaque));
  border-radius: 50px;
  width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 130px;
  transition: transform 0.3s ease;
  color: var(--color-backdrop);
  box-shadow: 15px 14px 11px -3px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 15px 14px 11px -3px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 15px 14px 11px -3px rgba(0, 0, 0, 0.34);
}

.profile-card:hover {
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .5); */
  transform: scale(1.01);
}

.profile-card .profile-header,
.TrackActivity__card .TrackActivity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card img,
.image,
.TrackActivity__card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.profile-card h2 {
  font-size: 20px;
  color: var(--color-backdrop);
}

.profile-card p {
  font-size: 16px;
  color: var(--color-backdrop);
}

.profile-card .profile-rating {
  display: flex;
  align-items: center;
  /* background-color: teal; */
  color: var(--color-backdrop);
  padding: 5px;
  border-radius: 5px;
}

.profile-card button {
  background-color: var(--color-backdrop);
  color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 15px;
  padding: 5px;
  font-size: 18px;
}

.profile-card button:hover {
  opacity: 1;
}

.profile-rating .rating__icon__container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 1px solid gray; */
}

.rating__icon__container {
  background-color: var(--color-backdrop);
  margin-left: 10px;

}

.rating__icon {
  color: #E5B80B;
  width: 25px;
  height: 25px;
}

/* .image{
    } */
.table__Icons__container {
  color: gray;
  width: 30px;

}

.table__Icons {

  color: var(--color-backdrop);
  width: 30px;
  height: 20px;

}

.profile-header table {
  width: 260px;
}

.service__status span {
  padding: 10px 20px;
  /* height: 20px; */
  background-color: red;
  color: white;
  border-radius: 10px;

}

.TrackActivity__card {
  border-radius: 50px;
  width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 130px;
  transition: transform 0.3s ease;
  background-color: var(--color-secondary);
  color: white;

}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  cursor: pointer;
  background-color: var(--color-backdrop);
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.pagination button.active {
  background-color: var(--color-secondary);
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}


/* .profile__AppointmentDate{
    color: ;
  } */
@media screen and (max-width:770px) {
  /* .profile-container {
        
         
      } */
}

@media screen and (max-width:430px) {
  .profile-container {
    grid-template-columns: 1fr;
    width: 300px;
  }
}