.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    top: 0;
    padding: .5rem;
    /* background-color: var(--color-backdrop); */
    width: 100%;
    align-items: center;
}

.header__logo {
    height: 5rem;
    width: 5rem;
}

.header__cutomer-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header__user-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__hamburger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    font-size: 1.6rem;
}