/* Testimonial.css */

.landing-page-inner {
    position: relative;
    background-color: #2C3639;
    height: 450px;

}

.testimonials-wrapper {
    text-align: center;
}

.testimonials {
    font-size: 44px;
    color: #FFFFFF; /* Adjust the color as needed */


}

.frame-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 25%;
}

.frame-group {
    display: flex;
    gap: 80px; /* Adjust as needed */
}

.vector-parent {
    position: relative;
}

.frame-child {
    position: relative;
    overflow: hidden;
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.vector-image {
    width: 384px; /* Set the width based on the image dimensions */
    height: 254px; /* Set the height based on the image dimensions */
}

.super-cool-app-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
}

.super-cool-app {
    font-size: 18px;
    font-weight: bold;
}

.super-cool-app-description {
    width: 20rem;
    font-size: 18px;
}


.circle-image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px; /* Adjust the width of the circular image container */
    height: 70px; /* Adjust the height of the circular image container */
    border-radius: 50%;
    overflow: hidden;
    margin-top: 70px; /* Adjust the margin as needed */
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
