.sidebar {
  width: 15rem;
  min-height: 110vh;
  background-color: var(--color-secondary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-backdrop);
  /* Smooth transition for side bar when collapsed and revealed */
  transition: 0.3s ease;
}

.sidebar__logo {
  display: grid;
  place-items: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  text-align: center;
  padding-top: 1rem;
  transition: 0.3s ease;
  /* position: fixed; */
  position: fixed;
}

/* .flex-top-15 {
  margin-top: 15rem;
} */



.collapsed .sidebar__logo {
  transition: 0.3s ease;
  width: 5rem;
}

.content__container {
  display: flex;

}

.sidebar>* {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: space-between; */
  width: 15rem;
  text-decoration: none;
  /* margin-top: 3rem; */
  /* position: fixed; */
  position: fixed;
  top: 10rem;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: space-between; */
  width: 15rem;
  text-decoration: none;
  gap: 2rem;
  position: fixed;
  bottom: 2rem;
}



.sidebar__links h3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-backdrop);
  text-decoration: none;
  align-items: center;
}

.bottom-links h3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-backdrop);
  text-decoration: none;
  align-items: center;
}

/* Transition for text hiding/revealing */
.sidebar__links h3 span {
  /* Smooth transition for text visibility and size */
  transition: opacity 0.3s ease, font-size 0.3s ease;
}

.content {
  flex: 1;
}

/* .sidebar__link {
  list-style: none;
  text-decoration: none;
  color: var(--color-secondary);
} */

.sidebar__links h3 svg {
  flex-shrink: 0;
  width: 1.8rem;
  height: auto;
}

.bottom-links h3 svg {
  flex-shrink: 0;
  width: 1.8rem;
  height: auto;
}


/* Hiding the text */
.icon-only {
  font-size: 0;
  visibility: hidden;
}

.collapsed .sidebar {
  width: 5rem;
}


/* .collapsed .container {
  flex-direction: row;
} */

.collapsed .content {
  flex: 1;
}

.collapsed .sidebar__links {
  width: 5rem;
  /* margin-top: 0; */
}

.collapsed .bottom-links {
  width: 5rem;
  /* margin-top: 0; */
}

.collapsed .sidebar__links h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1.8rem;
}

.collapsed .bottom-links h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1.8rem;
}

/* .collapsed .sidebar__links svg {
  width: 2rem;
  height: 2rem;
} */

.collapsed .sidebar__logo {
  text-align: center;
}

.hamburger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1440px) {
  .margin-bottom-2 {
    margin-bottom: 25rem;
  }

}