.chat-container {
    display: flex;
    /* height: 100vh; */
}

.chat-sidebar {
    width: 25%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.chat-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.chat-sidebar li:hover {
    background-color: #e9e9e9;
}

.chat-main {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.message {
    margin-bottom: 10px;
}

.sender-message {
    text-align: right;
    color: #007bff;
}

.recipient-message {
    text-align: left;
    color: #28a745;
}

.message-text {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.input-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: #fff;
    cursor: pointer;
}

.send-button:hover {
    background-color: var(--color-secondary-opaque);
}
/* Chat.css */

.chat-container {
    display: flex;
    height: 90.5%;
}

.chat-main {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.chat-sidebar {
    flex: 1;
    background-color: #f0f0f0;
}

.chat-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.chat-sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.selected-user {
    background-color: #2C3639;
    color: #f1f1f1;
}

.chat-messages {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.sender-message {
    
    align-self: flex-end;
    color: #2C3639;
}

