.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    top: 0;
    padding: .5rem;
    /* background-color: var(--color-backdrop); */
    width: 100%;
    align-items: center;
}

.header__container img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header__user-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.profile-more{
    padding: .25em;
}
svg{
    min-width: 1em;
    min-height: 1em;
}