.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  /* background-color: var(--color-secondary); */
  min-height: 100vh;
  position: relative;
}

.signup-form {
  padding-left: 20px;
  width: 50%;
  background-color: white;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-content {
  background-color: var(--color-secondary);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  /* position: static; */

  padding: 25px;
  width: 50%;
}

.signup-content h1 {
  font-size: 60px;
  font-weight: 700;
}

.signup-content p {
  font-size: 16px;
}

.formFiled {
  display: flex;
  flex-direction: column;
  margin: 5px;

}

.formFiled input {
  width: 30rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 6px;
  /* background-color: #EBEBF0; */
  text-indent: 0.2cm;
}

.signup-address__container {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  /* padding: .5rem; */
  /* width: fit-content !important; */
  /* width: 30rem; */

}

.signup-address__container .error-message {
  margin-left: .3rem;
}

.signup-address__container input:focus {
  outline: none;
  caret-color: var(--color-tertiary);
  background-color: white !important;
}

.signup-address__container:focus-within {
  border: 2px solid var(--color-primary);
  /* box-shadow: 0 0 5px var(--color-primary); */
}

.signup-address__container input {
  outline: none;
  caret-color: var(--color-tertiary);
  /* padding: 5px; */
  /* background-color: #EBEBF0; */
  /* text-indent: 0.2cm; */
  margin-top: 4px;
  width: 30rem;
}



.signup-address__container input:autofill {
  background-color: var(--color-tertiary-opaque);
}

.signup-address__container input {
  /* border-radius: .8rem; */
  border: none;
  background-color: none;
  /* margin: .25rem; */
}


.signup-form button {
  padding: 10px 45px;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-indent: 0.2cm;
  margin-bottom: 2rem;
  transition: ease-in-out 500ms;
}

.signup-form button:hover {
  box-shadow: 10px 10px 5px 0px rgba(17, 66, 61, 0.2);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(17, 66, 61, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(17, 66, 61, 0.2);
}


.signup-form h2 {
  font-weight: 500;
  text-align: center;
}

.image-stack {
  display: flex;
  flex-direction: row;
  gap: -10px;
  justify-content: center;
  align-items: center;
}

.image-stack img {
  width: 100px;
  /* height: 40px; */
  /* border-radius: 50%; */
}

.image-stack p {
  /* margin-left: 5px; */
  font-size: 12px;
}

#password {
  padding-right: 35px;
}

.icon-button {
  position: relative;
  top: -30px;
  left: 11.5rem;
  height: 0px;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  margin: 2px auto;
  /* height: 0px; */
}

.icon-button__icon {
  height: 20px;
}

@media screen and (max-width: 768px) {
  .signup-container {
    flex-direction: column;

  }

  .signup-content,
  .signup-form {
    width: 100%;
  }

  .signup-content h1 {
    font-size: 35px;
  }

  .signup-content p {
    font-size: 12px;
  }


  .formFiled {
    margin-right: auto;
    margin-left: auto;
  }
}